BasedOnStyle: Google

Language: Cpp
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

AccessModifierOffset: -4
IndentAccessModifiers: false

NamespaceIndentation: None

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true

BinPackArguments: true
BinPackParameters: true

BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4

SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

IncludeBlocks: Regroup
SortIncludes: true

MaxEmptyLinesToKeep: 1

ReflowComments: true